<form class="emp-form" #restauranttypeForm="ngForm" (ngSubmit)="onSubmit(restauranttypeForm)">
  <input type="hidden" name="ID" #id="ngModel" [(ngModel)]="restauranttypeService.selectedRestauranttype.id">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="Name" #name="ngModel" [(ngModel)]="restauranttypeService.selectedRestauranttype.name"
             placeholder="Name" required>
      <!--<div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div> -->
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!restauranttypeForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(restauranttypeForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
